/* document css, doesn't affect any component */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #b5b5b5;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;

}

/* custom css to test components */

#ac-fruits {
    --fc-border-color: #007bff;
    --fc-border-radius: 4px;
}

fancy-button {
    --fc-background-color: red;
}

