/* document css, doesn't affect any component */

:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

:root[fc-theme="dark"] {
    background-color:  #27272a;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #b5b5b5;
    border-radius: 8px;
    padding: 16px;

}

.container[fc-theme="dark"] {
    background-color:  #18181b;
    border: 1px solid #b5b5b5;
}

/* custom css to test components */

#ac-fruits {
    --fc-border-color: #007bff;
    --fc-border-radius: 4px;
}

