/* document css, doesn't affect any component */

:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 20px;
    background-color: #ffffff;
}

:root[fc-theme="dark"] {
    background-color:  #27272a;
    color: #b5b5b5;
    
    .container {
        background-color:  #18181b;
        border: 1px solid #b5b5b5;
    }
}

body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #b5b5b5;
    border-radius: 8px;
    padding: 16px;

}

.h1 {
    text-align: center;
}

.h2 {
    margin: 4px;
}

/* custom css to test components */

#ac-fruits {
    --fc-border-color: #007bff;
    --fc-border-radius: 4px;
}

