:root[fc-theme="dark"] {
    --fc-color-scheme: dark !important;
    
	/* fc-combobox component */
	--fc-combobox-bg: var(--fc-gray-800);
    --fc-combobox-bg-disabled: var(--fc-gray-900);
	--fc-combobox-fg: var(--fc-gray-200);
	--fc-combobox-border: var(--fc-gray-700);
    --fc-combobox-border-hover: var(--fc-gray-500);
    --fc-combobox-border-focus: var(--fc-primary-400);
    --fc-combobox-placeholder: var(--fc-gray-500);
    --fc-combobox-placeholder-disabled: var(--fc-gray-700);
    --fc-combobox-focus-ring: var(--fc-focus-ring-sm) var(--fc-focus-ring-secondary);

    --fc-combobox-bg-error: var(--fc-danger-900);
	--fc-combobox-border-error: var(--fc-danger-700);
    --fc-combobox-focus-ring-error: var(--fc-focus-ring-danger-secondary);

    /* fc-option component */
	--fc-option-bg: var(--fc-gray-800);
    --fc-option-bg-disabled: var(--fc-gray-900);
	--fc-option-bg-hover: var(--fc-gray-700);
    --fc-option-bg-active: var(--fc-primary-500);
	--fc-option-fg: var(--fc-gray-200);
    --fc-option-fg-disabled: var(--fc-gray-700);

    /* fc-input component */
    --fc-input-bg: var(--fc-gray-800);
    --fc-input-bg-disabled: var(--fc-gray-900);
    --fc-input-fg: var(--fc-gray-200);
    --fc-input-border: var(--fc-gray-700);
    --fc-input-border-hover: var(--fc-gray-500);
    --fc-input-border-focus: var(--fc-primary-400);
    --fc-input-placeholder: var(--fc-gray-500);
    --fc-input-placeholder-disabled: var(--fc-gray-700);
    --fc-input-focus-ring: var(--fc-focus-ring-sm) var(--fc-focus-ring-secondary);

    --fc-input-bg-error: var(--fc-danger-900);
	--fc-input-border-error: var(--fc-danger-700);
    --fc-input-focus-ring-error: var(--fc-focus-ring-danger-secondary);

    --fc-input-password-icon-color: var(--fc-gray-500);
    --fc-input-password-icon-color-hover: var(--fc-gray-400);

    --fc-input-file-border: var(--fc-gray-700);
    --fc-input-file-border-hover: var(--fc-gray-700);
    --fc-input-file-btn-bg: var(--fc-gray-900);
    --fc-input-file-btn-bg-hover: var(--fc-gray-700);
    --fc-input-file-btn-fg: var(--fc-gray-200);
    --fc-input-file-btn-fg-hover: var(--fc-gray-200);

    --fc-input-max-width: 412px;
    --fc-input-padding: var(--fc-space-3);
    --fc-input-border-width: var(--fc-border-width-xs);
    --fc-input-radius: var(--fc-radius-md);
    --fc-input-shadow: var(--fc-shadow-none);

    /* fc-error component */
    --fc-error-fg: var(--fc-danger-700);

    /* fc-label component */
    --fc-label-font-size: var(--fc-font-size-md);
    --fc-label-font-weight: var(--fc-font-weight-bold);
    --fc-label-fg: var(--fc-gray-200);
}
