:root {
    /* all components */
    font-family: var(--fc-font-family);

    /* combobox component */
    --fc-combobox-bg: var(--fc-white);
    --fc-combobox-fg: var(--fc-gray-900);
    --fc-combobox-border: var(--fc-gray-300);
    --fc-combobox-border-hover: var(--fc-gray-400);
    --fc-combobox-border-focus: var(--fc-primary-400);
    --fc-combobox-placeholder: var(--fc-gray-400);

    --fc-combobox-max-width: 412px;
    --fc-combobox-padding: var(--fc-space-3);
    --fc-combobox-border-width: var(--fc-border-width-xs);
    --fc-combobox-radius: var(--fc-radius-md);
    --fc-combobox-shadow: var(--fc-shadow-none);

    /* option component */
    --fc-option-bg: var(--fc-white);
    --fc-option-bg-hover: var(--fc-gray-100);
    --fc-option-bg-selected: var(--fc-primary-100);

    --fc-option-fg: var(--fc-gray-900);
    --fc-option-fg-selected: var(--fc-primary-700);

    --fc-option-padding: var(--fc-space-3);
    --fc-option-radius: var(--fc-radius-md);
}